[2020-08-25 14:01] mikahe opened #4 "No notification to user even though app isn't working"
Due to "fi.thl.koronahaavi.sim.debug E/DiagnosisKeyUpdateWorker: Failed to download diagnosis keys"
app is in useless state (also emulator BT off). However, user is completely unaware of this.

How about real user error and problems, such as user turning off Bluetooth and not turning it back on for extended period of time etc. failure scenarios?

[2020-08-26 06:24] solita-jussihei commented on #4
Thanks for the suggestion! We have considered showing information about a failed backend update, and will evaluate if it might be included in later releases. A single failure of the periodic update task (like the one your log entry shows) is not critical to app functionality, since the operating system continues to broadcast and collect random device identifiers via bluetooth regardless of our upd

[2020-08-31 09:19] mikahe opened #6 "Device language preference list isn't strictly followed (A10)"
If you add Swedish (Finland) in device General settings and select that as default language, Koronavilkku/Coronablinkern changes language to Swedish. However, if you add 3rd language (English (Finland)) as priority 1, Swedish in priority 2 and Finnish in priority 3, app shows now Finnish.

Repro at least in Android 10,  API 29, Samsung J6 SM-J600FN/DS
and Android 10, API 29 Samsung S9 SM-G960F

Ac

[2020-08-31 10:58] atte-m opened #7 "View bindings are not set to null in onDestroyView"
Not nulling the bindings could lead to memory leaks as fragment lifecycle is different from fragment's views lifecycle. It is recommended by view binding docs https://developer.android.com/topic/libraries/view-binding#fragments

[2020-08-31 11:06] finmackandal opened #8 "Is it only available if Google play account is set to Finland?"
Hi

Goople play says that my device is not compatible, but OS version is higher than required.
My region/country in Google Play account isn't set to Finland.

It seems that is not possible to download the app if the country is not set to Finland.

Considering we would like a massive use of the app I suggest such limitations are removed.

I was hopping this app and now I cannot install it, IMO, les

[2020-08-31 11:39] stopusingthisplatformplease opened #9 "Add koronavilkku to F-Droid"
Any plans of adding koronavilkku to the free/open source app store [F-Droid](https://f-droid.org/) so Android users who does not have a Google-account can download it?

[2020-08-31 12:04] antarktikali opened #10 "English translation"
What is the schedule for the English translation? Would you accept a pull request for a translated strings.xml file?

[2020-08-31 12:35] shnigi commented on #8
I just want to comment that this limitation should be removed in my opinion as well. I am currently in Australia and they have limited their covid safe app onto australian markets only and as I have my store set to Finland there is no way I can cooperate with the local systems as I cant install the app. I believe there might be many people whose store is set to somewhere else.

[2020-08-31 12:57] sevokn opened #11 "Corrections to the Swedish-language UI strings"
Corrections to the Swedish-language UI strings in the file app/src/main/res/values-sv/strings.xml .

`<string name="accept_terms_button_enable">Börja använd</string>`
should be
`<string name="accept_terms_button_enable">Börja använda</string>`

`<string name="accept_terms_voluntary_title">Appen är inte oblikatorisk</string>`
should be
`<string name="accept_terms_voluntary_title">Appen är inte obli

[2020-08-31 13:08] Temetz commented on #8
The distribution limitation might be enforced by Google as they only allow one app per country.

[2020-08-31 13:59] hugovk commented on #11
Please see PR #12.

[2020-08-31 14:08] kingslef commented on #8
The same issue was raised for Germany's corona app, and eventually it was released for some other countries: https://www.coronawarn.app/en/faq/#international. See also the issue in https://github.com/corona-warn-app/cwa-app-ios/issues/623.

[2020-08-31 14:15] solita-jussihei commented on #8
@finmackandal country availability was updated earlier today, right after release, so this update was maybe not active yet.. can you try again?

[2020-08-31 14:35] Rikujolla opened #14 "Improving home screen design"
As a default the majority of home screen is covered with a big logo telling the app is in use. I think that is a trivial info when you have installed the app. By reducing the size of that information, more essential information could be seen with one glance.
I understand the size when the app is not functioning properly.
EDIT1: The problem seems to be with lower screen resolution. E.g. old Nokia 3

[2020-08-31 14:46] subterfugium opened #15 "Unable to activate app: Altistuslokin käynnistys epäonnistui, tapahtui odottamaton virhe, koodi 17"
Running Oneplus 5T and Microg for LineageOS, Android 9, 2020-08-16.
![Screenshot_20200831-173451_Koronavilkku](https://user-images.githubusercontent.com/4238921/91733064-c2504280-ebb1-11ea-9766-f4ea379993a0.png)

Issue happens when clicking "aloita käyttö".

Please, advise.

[2020-08-31 15:09] solita-jussihei commented on #15
Hi, thanks for reporting. The app requires Google Play Services version 20.18.13 or above, and you can verify this version from  device settings, apps, Google Play services and update if necessary. Also there should be a Covid-19 section in device settings if you have a supported version of Google Play services.
https://support.google.com/android/answer/9888358?hl=en

[2020-08-31 15:17] mikahe opened #17 "Traceability of the source code"
It's mildly troubling that there's no unambiguos mapping between app version in store (phone) and public git repo. Current version is showing "1.0.0.174" and ".174" is possibly some non-public build number.
Currently there are two tags in repo, "v1.0.0-rc.2" and "v1.0.0-rc.1".

I would suggest at least adding tagging of the published (Play Store) versions (including the build number),
and git comm

[2020-08-31 15:20] ZeiP commented on #9
As far as I understand, the application is not usable unless Google Play Services are unavailable (as mentioned in #15). If/when that is the case, is publishing to F-Droid useful?

[2020-08-31 15:44] fpapado opened #18 "Enabling user-selection of text"
Hi! I am not certain how user-selection works on native Android apps, so this might be off the mark.
(It could also be that I am missing something. Feel free to close this if it does not apply :) )

Because of a lack of English translations, I am reading the Finnish text. I can understand some of it, but would like to copy-paste it into Google Translate, to make sure that I am not missing anything

[2020-08-31 15:46] subterfugium commented on #15
Thanks for the fast reply. I don't use Google Play Services (it's not installed on my phone), only open-source alternative microg. I installed Koronavilkku by downloading .apk, not via Google Play Store (I don't have one). I believe users with Huawei phones without Google Play Services (sold in Finland) will also suffer from this Google Play Services dependency. Please, consider providing Google P

[2020-08-31 16:03] slovdahl opened #19 "Manually overridable language"
Using the language of the system as the default language of the app is a good idea, but it would also be very nice to be able to override it. I want my Android OS in English, but I'd prefer to have the Koronavilkku app in Swedish.

[2020-08-31 16:15] finmackandal commented on #8
I just installed it, so I think it is already solved!
Kiitos!

[2020-08-31 16:15] #8 closed, assigned to nobody

[2020-08-31 16:31] tomilepp opened #20 "No covid19 badge in app store?"
Google help for COVID-19 notifications (https://support.google.com/android/answer/9888358) says "Official apps have an Exposure Notifications badge", but koronavilkku does not have badge in app store.

[2020-08-31 17:10] solita-jussihei commented on #7
Thanks for pointing that out! We'll take a look at this for later releases

[2020-08-31 17:20] Rikujolla opened #21 "Marketing cookies against privacy statement"
When installing the app you must accept the application terms of use. The link directs to the page where as a default e.g. marketing cookies are allowed. That is against the app statements "Your privacy is protected" or "Koronavilkku protects your data and privacy in many ways." I suggest to include Application terms of use internally to the app or care that THL web pages preserve your privacy wit

[2020-08-31 19:07] murtoM commented on #9
Could it be made to work on devices with no Google Play Services? For example some kind of FOSS build flavour?

[2020-08-31 19:30] htanskanen opened #22 "Clarify licensing for contributions"
This is an issue related to outside contributions to the app and the different licenses applied by THL. There is an identical issue with the iOS app. This issue should be resolved before any outside contributions are incorporated into the app and redistributed under the THL [Terms of Use](https://koronavilkku.fi/kayttoehdot/) via the Play Store.

Currently, the license applicable to the GitHub cod

[2020-08-31 19:50] juiceme commented on #15
Hi,

This same error happens even when Google Play services is version 21.6.13-21 [0] [PR327913455]
The device is Google Pixel XL, and android version is 10, service level QP1A.191005.007.A3 dated 2020-07-01

[2020-08-31 20:53] pedpess opened #23 "Enable Android App Bundles (.aab file) and Proguard for obfuscation"
Enabling Android App Bundles to source the correct binary format per device architecture. With that addition to your `build.gradle`, the app will indirectly consume less space, and it may load faster. It's a simple addition with good benefits.

For Proguard, you could pass to your `build.gradle` file `minifyEnabled true` and use the conventional Proguard `proguard-android.txt` rules initially to a

[2020-09-01 05:10] kypeli opened #24 "Exposure notification system is not enabled until device is rebooted"
**Precondition:**
- OnePlus Nord, latest firmware running Android 10, latest Play Services are installed.
- Bluetooth on, location on
- Koronavilkku installed

**Steps:**
1) Launch Koronavilkku
2) Observe HomeViewFragment

**Expected outcome:**
"Koronavilkku käytössä" is shown

**Actual outcome:**
"Ota Koronavilkku käyttöön" is shown. Koronavilkku is not active.

When pressing the "Ota käyttöön" b

[2020-09-01 05:12] kypeli commented on #23
The app is already open source, not sure what obfuscation would actually help in this case.

As for app bundles, I don't think it would actually yield the performance improvements that you mentioned? When app is launched, the correct resources are automatically used. The benefit of app bundle is of course that the download size would be smaller.

[2020-09-01 06:12] hulkkii commented on #15
Before implementing a totally Google Play service free version, I think the first priority should be to enable this for new Huawei phones without Google services (top 3 manufacturer in Finland) by using their alternative to Google's exposure notifications: Huawei Contact Shield API.

[2020-09-01 06:48] tomilepp commented on #20
Badge started to show in google play, closing this.

[2020-09-01 06:48] #20 closed, assigned to nobody

[2020-09-01 07:14] PESchmitz commented on #22
The role of copyleft aspects in the EUPL is to protect the original licensor from exclusive (proprietary) appropriations. For licensors that are public bodies, such protection is often seen as an obligation. This is the reason why the EUPL rejects a global re-licensing (in the sense of changing the license) of the covered components by recipients, but accepts that covered code is reused in other s

[2020-09-01 07:47] dalathegreat commented on #6
Simply adding Swedish as a second language doesn't automatically change the app. (Honor P20Lite Android 9.1)

[2020-09-01 07:56] samikki commented on #10
It is in the schedule and will be available in the near future.

Translation files are of course welcome, but please note that all translations need to go through language and healthcare expert checks. Also, for english, we already have a standing order with the translation agency.

Sami K / Solita

[2020-09-01 07:57] samikki commented on #15
We are in talks with Huawei about the implementation against Huawei Contact Shield. More information about this in September.

[2020-09-01 08:09] samikki commented on #9
Sounds interesting. If F-Droid would contain its own implementation of ENS, the situation would be somewhat similar to integrating to Huawei's service. We are of course open to investigate and discuss about this but cannot make any promises at the moment.

Sami K / Solita

[2020-09-01 08:23] pedpess commented on #23
@kypeli  Not sure either the full benefit of obfuscation security-wise for an open-source project, but for code optimization, Proguard also removes unused code during the bundling process.

You are right, there's no direct benefit indeed for the app bundles. I re-phrased that better, thanks for mentioning :)... Having smaller binary size and load time improv are the main ones I found.

[2020-09-01 08:23] ezzkoram commented on #17
Thank you for the comment! We'll add the git commit id to the version string. We use the semver.org specification so the build metadata will be addad after a plus sign e.g. "1.0.1+abcdef0" or "1.0.1-rc.1+abcdef0".

[2020-09-01 10:29] haadcode opened #25 "Make it explicit on the website that the app is open source"
Hello there,

First, congrats on launching the app and more importantly, massive kudos for open sourcing it (including the backend)! 👏   🎉  Having done that, you've done a great service to the general public and it makes it much easier to trust the application and install it.

However, it took a while for me to learn that this was indeed open source. There's no mention of the fact on the website (

[2020-09-01 11:01] htanskanen commented on #22
Thank you, @PESchmitz, for the additional background on EUPL. Unfortunately, although switching from EUPL to a more permissive open source license in this app source code repository is _one way_ to address the issue, whether or not EUPL in particular is used is not the core issue here. In short, this issue is about clarifying for all contributors the relationship between the EUPL (which the releva

[2020-09-01 12:22] paapoh commented on #15
Same problem with Oneplus 7 Pro (10.0.7)
Google Play services 20.30.19.

Covid-19 notifications not turning on in google settings even after installing the app

[2020-09-01 12:45] samikki commented on #15
Hello!
The usual cause for this is that the phone does not contain required
Exposure Notification API. It is installed via Google Play and requires
Android 6 or newer. Newest Huaweis that suffer from U.S. boycott also do
not contain Google Play and therefore are not able to use Koronavilkku at
the moment.

Sami

On Tue, Sep 1, 2020 at 3:23 PM paapoh <notifications@github.com> wrote:

[2020-09-01 12:51] paapoh commented on #15
I got Koronavilkku and covid-19 exposure notifications working after I deleted Google Play Services and installed them again

[2020-09-01 13:12] solita-jussihei commented on #6
I'll have to look into this more, but my understanding is also that only the first language (priority 1) in device settings is used to localize the app? The current default language in koronavilkku is Finnish, so would get Finnish if your device is set to English. We'll have to investigate how we will set this up when adding English support.

[2020-09-01 13:20] juiceme commented on #15
I get the idea that there could be some problems to 3rd party phones but what could be the problem with a *google* Pixel with all recent updates installed?

[2020-09-01 13:29] mikahe commented on #6
It looks like Samsung's settings is showing Android 7 API 24 started improvements in localisation: https://developer.android.com/guide/topics/resources/multilingual-support where there are more than one choice of device language at a time

[2020-09-01 13:44] paapoh commented on #15
Can you try the same as I did. Go to apps and select Google Play Services. Then open Google Play store window by pressing "App Details" and then uninstall and reinstall it back on.

[2020-09-01 13:45] solita-jussihei commented on #6
Ok, I think I've figured it out.. we are missing resConfigs in our gradle build file, so the priority list of device locales cannot be correctly applied. We'll check if fixing this would help pick up Swedish from priority 2.
Thanks for bringing this up!

[2020-09-01 13:45] htanskanen commented on #22
Made a pull request to fix this with an addition to contribution guidelines in CONTRIBUTING.md: https://github.com/THLfi/koronavilkku-android/pull/26

This would let the project use EUPL-1.2 as the project main license while also letting THL continue to use separate Terms of Use for distribution through the application store.

[2020-09-01 14:17] finmackandal commented on #23
IMO, obfuscation is bad for this app in particular, we want full transparency.

Is there ways to optimize without obfuscate?

[2020-09-01 16:05] oskar-skog commented on #25
The site even says the opposite of open source:  https://koronavilkku.fi/kayttoehdot/

[2020-09-01 19:15] juiceme commented on #15
Seems it is not as easily said as done. The uninstall icon is grayed out and not possible to uninstall. I suppose so many things in the device depend on google services it won't let it be uninstalled.

[2020-09-01 20:43] PESchmitz commented on #22
We should avoid that this discussion could lead users into trouble or uncertainty; this hurts my understanding of the role of a lawyer, which is to find solutions and not to invent problems, especially when there are not.
To be clear: nobody wants to maintain EUPL as the main license. This was the choice of THL and I was not involved at all in the process. THL has provided reasons to journalist Gi

[2020-09-02 05:39] solita-jussihei commented on #18
Hi, unfortunately text selection is not available by default on the text UI element, but we are working on an English translation! The only thing I can suggest is to take a screenshot, open it in Google Photos, and click Google Lens icon on bottom part of screen. This will detect text in the image and allow copy paste.

[2020-09-02 05:39] #18 closed, assigned to nobody

[2020-09-02 06:09] solita-jussihei commented on #23
Hi @pedpess and thanks for the suggestions! We are already deploying app bundles to Play Store, but we are using defaults and not defining anything special with the bundle block in build.gradle. Is that what you were looking for in build.gradle?

And yes, obfuscation is not used since the app is open-source. Code optimization and shrinking with R8/ProGuard is not used at the moment since the benef

[2020-09-02 07:37] htanskanen commented on #22
Agree with @PESchmitz, especially regarding us (outside) lawyers' role. We are enablers and advisors at most, not decision-makers. It seems THL has already opted for releasing the sources under EUPL. My pull request above respects that decision while at the same time addressing other needs expressed by THL, ie. treating distribution of the official app via application stores as a kind of a special

[2020-09-02 13:19] anduck commented on #25
The source code is available here, but is there some way to do a reproducible build which would match binaries served from e.g. Play store? And even if reproducible building is not possible, is any kind of building possible (based on the open source) that would yield a working Koronavilkku app? (I think we don't have access to some configuration parameters that would be needed for that...)

[2020-09-02 16:54] solita-jussihei commented on #15
@juiceme that is a strange problem.. would you be able to capture adb logs while reproducing the error prompt with "koodi 17"? You can filter it for only exposure notification module:
adb logcat ExposureNotification:D '*:S'

[2020-09-02 17:06] antarktikali commented on #10
Alright, thanks! We'll keep waiting in that case :)

[2020-09-02 17:06] #10 closed, assigned to nobody

[2020-09-02 20:23] murtoM commented on #9
Looks like [microG has added an initial implementation of the API](https://github.com/microg/android_packages_apps_GmsCore/commit/5f70d943cbceabcd9d2c72f8460ea58cba7e08fb). Though still a open source implementation of the client libraries is needed for F-Droid inclusion.

[2020-09-03 06:51] kypeli opened #31 "Battery saver on OnePlus/Huawei and other OEMs may kill Koronavilkku"
It seems that the battery saver functionality on at least OnePlus Nord and OnePlus 7 Pro phones may kill/disable Koronavilkku. I mean, when launching Koronavilkku in the morning, it says that it's disabled, although it was active before going to bed.

This might be due to the battery optimization feature on the phones. I understand that the app developers might not be able to control this behaviou

[2020-09-03 07:10] OgeonX commented on #15
Huawei here. Please fix.

[2020-09-03 08:19] skvark commented on #31
Probably true also for many other mobile phone brands, see https://dontkillmyapp.com/ for more info.

[2020-09-03 09:22] dalathegreat commented on #31
I also noticed this on my Huawei P20. Android "optimizes" this and kills the app.

[2020-09-03 12:55] manabreak opened #32 "App says it is not in use and cannot be re-enabled by pressing the button"
Almost every time I launch the app, the top portion of the main view says that "Koronavilkku ei ole käytössä" (app is not in use), and there's a button to re-enable it. Pressing this button does nothing.

Bluetooth is enabled on the phone at all times, and it seems that disabling and re-enabling Bluetooth manually fixes the issue.

The device is OnePlus Nord (Oxygen OS 10.5.6.AC01BA).

[2020-09-03 12:58] zimonth opened #33 "Status of korona positivity revealed to mobile operators and to WiFi-AP admins indirectly?"
I understood, when the app has sent the real exposure ID-tuples to the server, it stops to send also pseudo-codes (understood from THL's web-seminar in 2020-08-28)?

Therefore person, the time and the positively tested korona infection can be inferred from the data logs of mobile operators and Wifi-APs.  Mobile operators save timestamps, IMSI-code and cell-ID (~location) to the logs. Wifi-AP often

[2020-09-03 14:20] finmackandal commented on #33
Hi @zimonth

is "THL's web-seminar in 2020-08-28" available online?

[2020-09-03 14:52] zimonth commented on #33
Yes, there:
https://thl.fi/fi/ajankohtaista/tapahtumat/tapahtumakalenteri/-/event/6405135
(link) "Katso webinaarin tallenne tästä"
In place 47:50/57:30 he says, after the actual exposure codes has been send, the app no longer send pseudo codes anymore and "does not actually work anymore".

[2020-09-03 16:34] luxas opened #34 "Provide official apk builds in releases?"
Hi and thanks for this great application 👌! As a open source enthusiast and professional I'm so proud of being Finnish when seeing this application being open 🙌. Keep up the good work!

**Is your feature request related to a problem? Please describe.**

I have a friend from the US, living in Finland since some time, that cannot download this app because his Google Play region is set to US/North Am

[2020-09-03 17:02] solita-jussihei commented on #25
Hi @haadcode thanks for your comments! We've forwarded the suggestion to add info and a link on the website.

@anduck you can build the app with Android Studio/Gradle, but to run it, you need to add local backend configuration in local.properties file (instructions in readme) and you can only run a simDebug build with a simulated Exposure Notifications system since the real live system is restrict

[2020-09-03 17:22] juiceme commented on #15
@solita-jussihei unfortunately the device is not mine, so it is difficult for me to take any debug logs. If it proves possible to do so, I'll do that and post them here.

[2020-09-03 17:25] solita-jussihei commented on #24
Hi @kypeli and thanks for reporting. That is strange and there definitely should not be any need to reboot, and we haven't seen this problem before. It sounds like there is another similar report with the same device #32

[2020-09-03 20:33] pedpess commented on #23
@finmackandal not that I know. It's done automatically by R8/Proguard.

@solita-jussihei Ah okay, good to know aab is being shipped 👍  :). Enabling Proguard and making a release build to test it is a simple change, but I agree that if the intention is to let the binary be open, so other people can download the app from the store and inspect the aab/apk then it makes sense.

Nothing more to add her

[2020-09-03 20:48] katajanmarja commented on #15
This is not just a Google Services version issue. I suspect it has to do with user containers in Android.

Obseved this error both on Huawei Honor 7 (STF-L09), software version number 9.1.0.201 (Android 9), and on OnePlus A3003, Android version also 9. Google Services version is high enough. Installing the application is not the problem, it's 'Aloita käyttö' that breaks.

What the two installation

[2020-09-04 06:08] kypeli commented on #31
Yes, good points. I updated the title accordingly.

[2020-09-04 08:16] solita-jussihei commented on #15
Thanks @katajanmarja that is a good find! I've reproduced and will try to get more information from Google regarding secondary users. The error 17 generally means that the Exposure Notification module of Google Play Services is not available on the device, and we are working to show more detailed errors in this case.

[2020-09-04 09:06] zimonth commented on #33
One possible solution would be to request to turn WiFi-network access off (it it is on) when a PIN-code to send exposure-data is inputed. Give information to a user Wifi-networks may not be as secure as mobile networks and this is an extra precautionary measure a user may want to take.

The government also could add legislation which would be enforced by Finnish Data Protection Superisor (Tietosuo

[2020-09-04 11:47] luxas commented on #34
Some more info: I have an other friend from Germany which was able to download the Koronavilkku app successfully and start using it, but that required (naturally) that he (temporarily) deactivated the similar German app which previously was active.

This suggests that the download restriction is more region- than country-based.

Additionally, we discussed that to not have to go through the process

[2020-09-04 17:18] tatusamma commented on #34
While understandable what kind of a power Apple and Google have here with the whole API, it's a sad day that in the end this whole open source thing is nearly useless in this case.

I was hoping I could build the app myself without having to use google play store and maybe use microg services, but alas, no such luck. If you could even distribute the pure .apk's, that would be a baby step.

[2020-09-04 17:21] tatusamma commented on #9
Yes, pretty please offer some alternative to google play store if possible. I'd even rather build the app myself instead of getting it from the play store.

[2020-09-05 12:41] HermannDppes commented on #9
For the German app there is an analogous debate going on: https://github.com/corona-warn-app/cwa-app-android/issues/75

In particular, this project might be relevant: https://github.com/CoraLibre/CoraLibre-android-sdk

[2020-09-06 07:19] denzilferreira opened #38 "Enhancement: visible operational status"
Problem:
At the moment, there is no indication that the system is working properly at all times.

Solution:
According to [Nielsen's Usability Heuristics](https://www.nngroup.com/articles/ten-usability-heuristics/):
* 1: Visibility of system status *

I believe this could be addressed by using a foreground service notification, displaying up-to-date information regarding Koronavilkku operation stat

[2020-09-07 08:05] nmurtola commented on #33
App will also stop sending regular dummy POSTs to backend when it's uninstalled or wifi/4G is turned off. At least the latter is much more likely than the user getting infected.

[2020-09-07 08:05] nmurtola commented on #33
This risk has been noted, but will not cause further action.

[2020-09-07 08:05] #33 closed, assigned to nmurtola

[2020-09-07 08:13] #23 closed, assigned to nobody

[2020-09-07 08:17] nmurtola commented on #21
THL has been informed about this issue.

[2020-09-07 08:17] #21 closed, assigned to nmurtola

[2020-09-07 08:28] nmurtola commented on #15
Sent the secondary user issue to Google, since it's beyond our control.

[2020-09-07 12:53] nmurtola commented on #15
Google responded saying that EN is only supported for the primary profile for now, mainly because of the privacy issues related to various different types of enterprise accounts, e.g. whether it should be possible for an enterprise to push out an app and "force" turn on EN. So as for now users will need to install the app on their personal accounts/devices.

[2020-09-07 12:54] #15 closed, assigned to nobody

[2020-09-08 15:57] kallehjerppe opened #39 "Weekly reminder notification is scary"
![notification](https://user-images.githubusercontent.com/2828173/92499707-de349380-f204-11ea-9647-fb7e84a15580.png)

This notification spooked me for a second when it appeared.
Could we remove the "Exposure notifications" text from this?

[2020-09-09 07:03] finmackandal commented on #31
I used a Swiss equivalent to this app, and it asks permission or recommend as apart of the setup process (next->next approach) to disable battery optimization and maybe related stuff (background permission maybe?).

could be possible to do something like this for this app?

I have a Samsung A51 and installed the app 31 August.

Last weekend I read the "Exposure checks" because I'm curious, and the

[2020-09-09 11:09] Gonnagle commented on #39
I believe this is actually from Androids Exposure Notification system and thus probably can't be controlled on Koronavilkku App side: https://support.google.com/android/answer/9888358

[2020-09-10 09:51] Frodotus opened #40 "Home wifi detection"
I'm always frustrated when I need to enable/disable bluetooth scanning when entering/leaving home.
I would like the application to automatically disable device scanning when I am at home and enable it when leaving.
I thought this could be possible by comparing the connected wifi SSID with home wifi name given in application settings.

[2020-09-10 10:39] hugovk commented on #40
You could use a third-party app for this, perhaps something like https://play.google.com/store/apps/details?id=it.mf.android.autobluetooth or https://play.google.com/store/apps/details?id=net.dinglisch.android.taskerm

[2020-09-11 12:07] villelaitila opened #41 "Take Softagram visual impact reports into use in koronavilkku-android and other repositories"
Hi, I'd like to you you in this project by offering Softagram as (free for open source) a analyzer and code change visualizer to this project integrated in GH PR review workflow. It helps developers to faster get the idea what is the change about and how it matches to the software architecture and the design. Some smells like usage of copy paste code is also reported as part of the Softagram impac

[2020-09-11 13:58] Frodotus commented on #40
@hugovk The point is to stop the scanning for nearby devices. Those third-party apps turn bluetooth off. If you turn bluetooth off you can't use another bluetooth devices.

[2020-09-14 09:24] aaron-r-campbell commented on #34
The app is now available in the US region (source: I downloaded the app from the US region) but having the apk available for direct download and installation would still be a nice way to prevent further region-lock issues.

[2020-09-14 09:33] ezzkoram commented on #17
Build metadata visible in Google Play Store with newest version 1.0.1+aba6841

[2020-09-14 09:33] #17 closed, assigned to nobody

[2020-09-15 05:38] albron commented on #10
Why is this issue closed, without the translation?
Keep it open until it's done, please.

[2020-09-15 06:13] solita-jussihei commented on #39
Yes @Gonnagle you are correct, this notification comes from Google Exposure Notification system. More info here https://support.google.com/android/answer/9991216?hl=en

[2020-09-15 06:13] #39 closed, assigned to nobody

[2020-09-17 12:18] entibaldi opened #48 "Clarification with google reported "Exposure Notifications"->"Exposure Checks""
Hello,

I'd like a clarification on the data reported by google if user goes to Settings->Google->COVID-19 Exposure Notifications -> Exposure Checks.

Google claims the data "shows requests made by apps to check for potential exposure to COVID-19 over the past 14 days".
Besides from the apparently completely random order the data is presented, there seem to be a daily exposure check happening. Eve

[2020-09-17 15:28] solita-jussihei commented on #48
Hi, thanks for asking, I understand how this might be confusing. The data reported by Google in device settings shows when the app has downloaded keys of other Koronavilkku users that have reported a positive diagnosis. Note that these are downloaded from system backend, not scanned by your device, and they are daily rotating keys, which means the count is not the same as number of people/app user

[2020-09-18 03:59] entibaldi commented on #48
@solita-jussihei thank you for the answer, it is clear now! I'll close this

[2020-09-18 03:59] #48 closed, assigned to nobody

[2020-09-18 06:02] solita-jussihei commented on #6
This was a bit more complicated than just adding resConfigs, and should be fixed when we add English localization support

[2020-09-21 05:59] denzilferreira commented on #40
@Frodotus
The WiFi scanning requires additional permissions for the app: ACCESS_FINE_LOCATION, ACCESS_COARSE_LOCATION, CHANGE_WIFI to work across different versions of Android. Adding these permissions to the app would raise significant concerns on people's privacy.

See here, the only permissions required are related to Bluetooth and Internet access:
https://developers.google.com/android/exposure

[2020-09-21 06:32] solita-jussihei commented on #40
Right @denzilferreira and the app actually cannot request location permissions per the terms of use of Google Exposure Notifications

[2020-09-21 06:32] #40 closed, assigned to nobody

[2020-09-28 10:35] solita-jussihei commented on #31
Latest app version 1.0.2 adds a prompt to disable battery optimization for the app in device settings.

Some device manufacturers, like OnePlus, Huawei and Xiaomi, have added their own power saver functionality to Android that we unfortunately cannot control/request from the app, so @kypeli you're right it would be a good idea to have instructions for these cases.

[2020-09-28 10:35] #31 closed, assigned to nobody

[2020-09-29 18:56] #22 closed, assigned to nmurtola

[2020-09-29 19:41] ghost commented on #34
As the application is now globally available and entirely dependent on the Google Play Services, we're not planning to distribute the binaries as direct downloads at this point.

[2020-09-29 19:41] #34 closed, assigned to nobody

[2020-10-06 11:07] solita-jussihei commented on #6
1.1.0 version with English support and an in-app language selector is now available and fixes this issue as well

[2020-10-06 11:07] #6 closed, assigned to nobody

[2020-10-06 11:24] solita-jussihei commented on #11
Thanks for the corrections, fixed in latest 1.1.0 update

[2020-10-06 11:24] #11 closed, assigned to nmurtola

[2020-10-07 08:27] solita-jussihei commented on #19
Version 1.1 is now available that adds an in-app language selector to the first on-boarding screen and Settings tab

[2020-10-07 08:27] #19 closed, assigned to nobody

[2020-10-12 10:21] solita-jussihei commented on #32
Hi @manabreak can you test this with latest app version 1.1.0 to see if the problem still occurs?

[2020-10-19 06:34] solita-jussihei commented on #24
Hi @kypeli are you still seeing this issue with latest version?

[2020-10-19 06:37] kypeli commented on #24
AFAIK this only happened once and Koronavilkku has worked fine after this initial hiccup and when disabling power management for it.

[2020-10-19 06:40] solita-jussihei commented on #24
ok good to hear thanks!

[2020-10-19 06:40] #24 closed, assigned to nobody

[2020-10-21 08:43] solita-jussihei commented on #32
Hope the issue was resolved, please reopen if not

[2020-10-21 08:43] #32 closed, assigned to nobody

[2020-10-21 17:11] soberao opened #53 "Koronavilkku almost working with MicroG"
**Describe the bug or problem**
I am using Koronavilkku with MicroG instead of Google tools. The app is almost working but Exposure notifications is "disabled" while bluetooth is activated and MicroG exposure notifications is working and it has been activated by Koronavilkku.

**To Reproduce**
Steps to reproduce the behavior:
1. Install MicroG and activate all the possible options
2. Install Koron

[2020-10-24 16:23] soberao commented on #53
I have resolved this issue with the step described in this post: https://github.com/microg/android_packages_apps_GmsCore/issues/1242#issuecomment-713437351
Now Koronavilkku is working with MicroG.

[2020-11-09 11:06] #53 closed, assigned to nobody

[2020-12-07 13:36] Kaaveh commented on #7
I can fix this if you allow me.

[2020-12-07 16:50] denzilferreira commented on #38
This is no longer relevant as the app now shows the status of when was the last time there was a check, without a notification being required :tada:

[2020-12-07 16:50] #38 closed, assigned to nobody

[2020-12-07 16:52] denzilferreira commented on #4
This should be addressed in the latest version as we should the last time the data was last checked and updated? @solita-jussihei

[2020-12-08 14:04] solita-jussihei commented on #4
Yes you're right, thanks @denzilferreira, even though we won't send a notification about it, the user can see in app home screen if updates not done for 24hrs

[2020-12-08 14:04] #4 closed, assigned to nobody

[2021-01-08 14:35] MengWoods opened #68 "Exposure notifications are not available for your device"
I got the error information after clicking the starting using the app.

Exposure notifications could not be turned on
Unfortunately, Google Play Services exposure notifications are not available for your device.
Error code: null

Device: Xiaomi 8

[2021-01-11 07:22] solita-jussihei commented on #68
Hi @MorganWoods for some reason Google Play Services fails to use the exposure notification module, but strange that the detailed error is missing.. Could you check and update your Xiaomi system version, and Google play services version? And you've installed the app normally through Play Store?

Also, secondary user profiles won't work, but in that case you should get a specific error message

[2021-01-18 10:22] solita-jussihei commented on #68
Assuming you got this resolved, let us know if you still have the problem

[2021-01-18 10:22] #68 closed, assigned to nobody

[2021-03-20 18:16] houssemzaier commented on #7
later means never @Kaaveh

[2021-03-22 08:22] #25 closed, assigned to nobody

[2021-03-22 08:23] #9 closed, assigned to samikki, nmurtola

[2021-03-22 08:33] solita-jussihei commented on #41
Thanks for the suggestion, but so far we haven't had a need for PR review tools in this project

[2021-03-22 08:33] #41 closed, assigned to nmurtola

[2021-03-22 08:38] tatusamma opened #76 "Add koronavilkku to F-Droid/samsung store/amazon store/direct apk"
Hi,

I see that last request to add Koronavilkku to F-Droid was closed today and I just find it sad for a project which has been funded by all of us is such restricted as it is. While I understand technical restrictions for the API, I don't consider the issue as closed or resolved.

I think we could have good and insightful discussion on this topic somewhere, but you closed the only place where to

[2021-03-22 09:38] spheroid commented on #76
The application requires either Google Play Services or Huawei Mobile Services in order to function and therefore it is not distributed through other app stores. Apparently you can also build the source code yourself and substitute the Google Play Services dependency with microG implementation, but we're not going to officially support this for the time being.

[2021-03-22 09:38] #76 closed, assigned to nobody

[2021-06-02 17:10] ElektroVirus opened #79 "Application crashes without Google Services framework"
Application crashes without GSF, without showing any error message. It would be good if the application would show at least some kind of message displaying that GSF is needed for operation, althought it is obvious why it's needed.

[2021-06-03 11:52] ElektroVirus commented on #79
Closing issue since I found out from an old screenshot of mine, Koronavilkku actually notices missing GSF. And I can't even provide more information, not even the version number of Koronavilkku I had installed.
OS is LineageOS 17.1.

[2021-06-03 11:52] #79 closed, assigned to nobody

[2022-06-15 07:04] solita-jussihei commented on #14
The app has been shutdown, so closing the issue. Thanks for the suggestion!

[2022-06-15 07:04] #14 closed, assigned to nmurtola

[2022-06-15 07:04] solita-jussihei commented on #7
The app has been shutdown, so closing the issue. Thanks for the suggestion!

[2022-06-15 07:04] #7 closed, assigned to nobody